Desktop/проект авто - копия/Maps/GoogleMapsFlashInWpf/GoogleMapsFlashInWpf/Service References/Services/Algorithm1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Microsoft.ServiceModel.Samples" elementFormDefault="qualified" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/Algorithm?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DBComponent" />
  <xs:element name="getShortestPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DBComponent" minOccurs="0" name="start" nillable="true" type="q1:Node" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DBComponent" minOccurs="0" name="finish" nillable="true" type="q2:Node" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getShortestPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DBComponent" minOccurs="0" name="getShortestPathResult" nillable="true" type="q3:ArrayOfNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ReadingFromConfigFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Problem_HelpLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Problem_message" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DBComponent" minOccurs="0" name="RightPathes" nillable="true" type="q4:ArrayOfNode" />
      <xs:element minOccurs="0" name="WrongName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadingFromConfigFault" nillable="true" type="tns:ReadingFromConfigFault" />
</xs:schema>