Maps/GoogleMapsFlashInWpf/GoogleMapsFlashInWpf/Service References/Server/DB2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/DB?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DBComponent" />
  <xs:element name="getNearestPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DBComponent" minOccurs="0" name="curr" nillable="true" type="q1:Point" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNearestPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DBComponent" minOccurs="0" name="getNearestPointResult" nillable="true" type="q2:Point" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>