Desktop/проект авто - копия/Maps/GoogleMapsFlashInWpf/GoogleMapsFlashInWpf/Service References/Database/DB.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DBComponent" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DBComponent" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/DB?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Node">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lat" type="xs:double" />
      <xs:element minOccurs="0" name="lon" type="xs:double" />
      <xs:element minOccurs="0" name="prior" type="xs:int" />
      <xs:element minOccurs="0" name="zone" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Node" nillable="true" type="tns:Node" />
  <xs:complexType name="ArrayOfStreet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Street" nillable="true" type="tns:Street" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStreet" nillable="true" type="tns:ArrayOfStreet" />
  <xs:complexType name="Street">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Street" nillable="true" type="tns:Street" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="corp_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="corp_num" type="ser:char" />
      <xs:element minOccurs="0" name="h_num" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_district" type="xs:int" />
      <xs:element minOccurs="0" name="id_node" type="xs:int" />
      <xs:element minOccurs="0" name="id_street" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
</xs:schema>