Desktop/проект авто - копия/Maps/GoogleMapsFlashInWpf/GoogleMapsFlashInWpf/Service References/Database/DBServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DBServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/DB?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/DB?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/DB?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DBComponent" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDBServer_getNearestPoint_InputMessage">
    <wsdl:part name="parameters" element="tns:getNearestPoint" />
  </wsdl:message>
  <wsdl:message name="IDBServer_getNearestPoint_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNearestPointResponse" />
  </wsdl:message>
  <wsdl:message name="IDBServer_getStreets_InputMessage">
    <wsdl:part name="parameters" element="tns:getStreets" />
  </wsdl:message>
  <wsdl:message name="IDBServer_getStreets_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStreetsResponse" />
  </wsdl:message>
  <wsdl:message name="IDBServer_getNodeByAdress_InputMessage">
    <wsdl:part name="parameters" element="tns:getNodeByAdress" />
  </wsdl:message>
  <wsdl:message name="IDBServer_getNodeByAdress_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNodeByAdressResponse" />
  </wsdl:message>
  <wsdl:portType name="IDBServer">
    <wsdl:operation name="getNearestPoint">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBServer/getNearestPoint" message="tns:IDBServer_getNearestPoint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBServer/getNearestPointResponse" message="tns:IDBServer_getNearestPoint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStreets">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBServer/getStreets" message="tns:IDBServer_getStreets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBServer/getStreetsResponse" message="tns:IDBServer_getStreets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNodeByAdress">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBServer/getNodeByAdress" message="tns:IDBServer_getNodeByAdress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBServer/getNodeByAdressResponse" message="tns:IDBServer_getNodeByAdress_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDBServer" type="tns:IDBServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getNearestPoint">
      <soap:operation soapAction="http://tempuri.org/IDBServer/getNearestPoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStreets">
      <soap:operation soapAction="http://tempuri.org/IDBServer/getStreets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNodeByAdress">
      <soap:operation soapAction="http://tempuri.org/IDBServer/getNodeByAdress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DBServer">
    <wsdl:port name="BasicHttpBinding_IDBServer" binding="tns:BasicHttpBinding_IDBServer">
      <soap:address location="http://localhost:8080/DB" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>