Desktop/проект авто - копия/Maps/GoogleMapsFlashInWpf/GoogleMapsFlashInWpf/Service References/Server/DB.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DBComponent" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DBComponent" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Point">
    <xs:sequence>
      <xs:element minOccurs="0" name="lat" type="xs:double" />
      <xs:element minOccurs="0" name="lng" type="xs:double" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Point" nillable="true" type="tns:Point" />
</xs:schema>