Maps/GoogleMapsFlashInWpf/GoogleMapsFlashInWpf/Service References/Services/Algorithm1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DBComponent" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DBComponent" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Node">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lat" type="xs:double" />
      <xs:element minOccurs="0" name="lon" type="xs:double" />
      <xs:element minOccurs="0" name="prior" type="xs:int" />
      <xs:element minOccurs="0" name="zone" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Node" nillable="true" type="tns:Node" />
  <xs:complexType name="ArrayOfNode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Node" nillable="true" type="tns:Node" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNode" nillable="true" type="tns:ArrayOfNode" />
</xs:schema>